*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F3F3F3;
	color: #090909;
  font-weight: 400;
  font-family: "Montserrat", "Arial", sans-serif;
  letter-spacing: -0.04em;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: #090909;
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

main {
  padding: 23px 0 51px 0;
}
