.catalog {
	display: grid;
	grid-template-columns: 330px 1fr;
	column-gap: 58px;
}

.catalog-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	width: 100%;
	margin: 18px 0 0;
	padding: 0;
	list-style: none;
}
