.custom-input {
  position: relative;
  width: 100%;
}

.custom-input__icon {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.custom-input__label {
  display: block;
  margin-bottom: 9px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.custom-input__field {
  width: 100%;
  padding: 4px 40px 4px 0;
  border: none;
  border-bottom: solid 1px rgba(9, 9, 9, 0.15);
  background-color: transparent;
}

.custom-input__field::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
}