.custom-radio {
  position: relative;
  flex-wrap: nowrap;
  flex: 1;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  cursor: pointer;
  color: #AD8361;
  background: #fff;
  border-right: 1px solid #AD8361;
  user-select: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
}

.custom-radio label:last-of-type {
  border-right: none;
}

.custom-radio input[type="radio"]:checked + label {
  background: #AD8361;
  color: #fff;
}