.custom-input {
  position: relative;
  width: 100%;
}

.custom-input__icon {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: #AD8361;
}

.custom-input__label {
  display: block;
  margin-bottom: 9px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.custom-input__field {
  width: 100%;
  padding: 4px 40px 4px 0;
  border: none;
  border-bottom: solid 1px rgba(9, 9, 9, 0.15);
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.custom-input__field::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
}

.custom-input__field:hover {
  border-color: #AD8361;
}

.custom-input__field:focus-visible {
  border-color: #AD8361;
}

.custom-input__field:focus {
  outline: none;
}

.custom-input__field:disabled {
  border-color: rgba(9, 9, 9, 0.1);
}

.custom-input__field:disabled .custom-input__field::placeholder {
  color: rgba(9, 9, 9, 0.3)
}

.custom-input__field:disabled ~ .custom-input__icon {
  color: rgba(173, 131, 97, 0.5)
}