.custom-checkbox__field:checked + .custom-checkbox__label .custom-checkbox__icon {
  display: block;
}

.custom-checkbox__label {
  position: relative;
  padding: 0 0 0 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  user-select: none;
  cursor: pointer;
  color: #000000;
  transition: color 0.3s ease;
}

.custom-checkbox__label::before {
  height: 14px;
  width: 14px;
  border: 1px solid #AD8361;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  left: 0;
}

.custom-checkbox__icon {
  color: #AD8361;
  display: none;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.custom-checkbox__heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
}

.custom-checkbox__label:hover {
  color: #AD8361;
}

.custom-checkbox__field:focus-visible + .custom-checkbox__label {
  color: #AD8361;
}

.custom-checkbox__field:disabled + .custom-checkbox__label {
  color: rgba(9, 9, 9, 0.5);
}

.custom-checkbox__field:disabled + .custom-checkbox__label::before {
  border-color: rgba(173, 131, 97, 0.5);
}