.header {
  background-color: #efede7;
  height: 80px;
}

.header .container {
  height: 100%;
}

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__button {
  padding: 0;
  border: none;
  background: none;
}

.header__options {
  display: flex;
  box-shadow: 0 2px 20px 0 #0000001A;
  transform: translateX(83px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header__option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 29px;
  min-width: 210px;
  height: 100px;
  background-color: #fdfdfd;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #AC8361;
}

.header__option:first-child {
  border-bottom-left-radius: 20px;
}

.header__option:last-child {
  border-bottom-right-radius: 20px;
}

.header__option--active {
  background-color: #F3F3F3;
  color: #090909;
}

.header__option .header__option-svg,
.header__option .header__option-text
{
  transform: translateY(4px);
}

.header__settings {
  display: flex;
  align-items: center;
  gap: 28px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.header__settings-link {
  position: relative;
}

.header__settings-count {
  position: absolute;
  left: 10px;
  top: 4px;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
}