.form-filter__tooltip {
  position: absolute;
  top: -8px;
  right: -183px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  min-width: 156px;
  width: fit-content;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.form-filter__tooltip-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #AD8361;
}

.form-filter__tooltip-wrapper {
  position: relative;
  display: inline-flex;
}

.form-filter__tooltip-wrapper::before {
  content: '';
  position: absolute;
  left: -25px;
  top: 0;
  z-index: 4;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 8px 6px 0;
  border-color: transparent white transparent transparent;
  transform: rotate(0deg);
}